About Us

<h2>A big exciting project!</h2>
<p>
A group of eleven major universities and 30 top speech science and technology experts from around Australia obtained funding under a Linkage Infrastructure, Equipment and Facilities (LIEF) grant from the Australian Government and a number of sponsors to create the largest-ever auditory-visual database of Australian speech. The project involves building twelve <b>identical stand-alone recording set-ups </b> and shipping these around Australia to collect audio-visual speech in each capital city and in various regional centres across the country (17 different collections in 15 locations).
</p>

<p>
A <b>standard set of tasks</b> was collaboratively designed and is used to collect the data at all collection sites.  Such standard recording conditions and standard tasks allow us to carefully capture regional and social variations across the country .
</p>

<p>

The recording set-ups will remain at each centre for subsequent data collection projects. The corpus of audio visual speech data will incorporate annotations and metadata which will be accessible via a centralised storage facility. The original corpus, and later additions to it, will provide a significant resource and a boost to speech science, speech technology, and human communication research in Australia.

</p>

<h2> You can be a part of it ! </h2>


<a href="get-involved-public.html ">Click here for information on how to get involved.</a>
<br/>

<h3> The Blackbox </h3>
<img src="/static/images/blackbox.jpg" />