 Project publications and presentations

 <p><span>We ask that all publications using the AusTalk&nbsp;corpus include the following acknowledgbent:</span></p>
<p class="rteindent1">The AusTalk corpus was collected as part of the Big ASC project (Burnham et al. 2009; Wagner et al. 2010; Burnham et al. 2011), funded by the Australian Research Council (LE100100211).See: <a href="/" target="_blank">https://austalk.edu.au/</a> for details.</p>

<h3>
	<strong>Project publications</strong></h3>
<p>Sui, C., Haque, S., Togneri, R., &amp; Bennamoun, M. (2012). A 3D Audio-Visual Corpus for Speech Recognition. Paper presented at the SST2012, Sydney, Australia.</p>
<p>Sui, C., Haque, S., Togneri, R., &amp; Bennamoun, M. (2012). Discrimination Comparison Between Audio and Visual Features. Paper presented at the Asilomar 2012, Pacific Grove, USA.&nbsp;</p>
<p>Burnham Denis, Dominique Estival, Steven Fazio, Felicity Cox, Robert Dale, Jette Viethen, Steve Cassidy, Julien Epps, Roberto Togneri, Yuko Kinoshita, Roland G&ouml;cke, Joanne Arciuli, Marc Onslow, Trent Lewis, Andy Butcher, John Hajek&nbsp;and Michael Wagner. &quot;Building an Audio-Visual Corpus of Australian English: Large Corpus Collection with an Economical Portable and Replicable Black Box&quot;. &nbsp;(2011). In <b>Interspeech 2011</b>. Florence, Italy, 2011. <a href="https://austalk.edu.au/sites/default/files/IS11-AusTalk.pdf">Download PDF.</a></p>
<p>Wagner, M., D. Tran, R. Togneri, P. Rose, D. Powers, M. Onslow, D. Loakes, T. Lewis, T. Kuratate, Y. Kinoshita, N. Kbp, S. Ishihara, J. Ingram, J. Hajek, D.B. Grayden, R. G&ouml;cke, J. Fletcher, D. Estival, J. Epps, R. Dale, A. Cutler, F. Cox, G. Chetty, S. Cassidy, A. Butcher, D. Burnham, S. Bird, C. Best, M. Bennamoun, J. Arciuli, and E. Ambikairajah. &quot;The Big Australian Speech Corpus (the Big Asc)&quot;. (2010). In <b>13th Australasian International Conference on Speech Science and Technology</b>, edited by M. Tabain, J. Fletcher, D. Grayden, J. Hajek&nbsp;and A. Butcher, pp.166-70. Melbourne: ASSTA, 2010. <a href="https://austalk.edu.au/sites/default/files/BigASC-SST2010.pdf">Download PDF</a>.</p>
<p>Burnham, D., E. Ambikairajah, J. Arciuli, M. Bennamoun, C.T. Best, S. &nbsp;Bird, A.B. Butcher, C. Cassidy, G. Chetty, F.M. Cox, A. Cutler, R. Dale, J.R. Epps, J.M. Fletcher, R. Goecke, D.B. Grayden, J.T. Hajek, J.C. Ingram, S. Ishihara, N. Kbp, Y. Kinoshita, T. Kuratate, T.W. Lewis, D.E. Loakes, M. Onslow, D.M. Powers, P. Rose, R. Togneri, D. &nbsp;Tran, and M. &nbsp;Wagner. &quot;A Blueprint for a Comprehensive Australian English Auditory-Visual Speech Corpus&quot;. &nbsp;(2009). &nbsp;In <b>The&nbsp;2008 HCSNet Workshop on Designing the Australian National Corpus</b>, pp.96-107. Sydney: Somerville, MA, USA: Cascadilla Proceedings Project.<a href="https://austalk.edu.au/sites/default/files/Speech Corpus_May12_Burnham et al.pdf"> Download PDF</a>.</p>
<p>&nbsp;</p>
<h3>
	<strong>Public presentations</strong></h3>
<p>Presentation at the <b>ACSRF Supercomputing Workshop</b>, Hunan University,Changsha, China, June 2013.&nbsp;</span></span></span>Download&nbsp;<a href="https://austalk.edu.au/sites/default/files/HunanAusTalkvHCSLab.pdf">PDF</a>.</p>
<p><span><span><span>Presentation at the&nbsp;</span><a href="http://research.ict.csiro.au/hail">HAIL Sbinar</a><span>, </span>CSIRO<span>, Sydney, April 2012. Download&nbsp;<a href="https://austalk.edu.au/sites/default/files/BigASC_HAIL-April-2012.pdf">PDF</a>.</span></span></span></p>
<p><span><span><span>Presentation at the&nbsp;</span><a href="http://www.nzilbb.canterbury.ac.nz/">New Zealand Institute of Language, Brain and Behaviour</a>,&nbsp;<span>University of Canterbury Christchurch, NZ, Novbber 2011.&nbsp;</span></span></span>Download&nbsp;<a href="https://austalk.edu.au/sites/default/files/BigASC_2011_NZ-updated.pdf">PDF</a>.</p>
<p><span><span><span>Presentation at</span><span>&nbsp;</span><a href="http://www.interspeech2011.org/">Interspeech<span class="apple-converted-space"><i><span>&nbsp;</span></i></span>2011</a><span>. August 2011.</span></span></span></p>
<p><span><span><span>Presentation at the</span><span class="apple-converted-space">&nbsp;</span><span><a href="http://www.assta.org/?q=sst-2010" target="_blank" title="Thirteenth Australasian International Conference on Speech Science and Technology 2010">Thirteenth Australasian International Conference on Speech Science and Technology 2010</a></span><span class="apple-converted-space">&nbsp;</span><span>Melbourne, Australia, Decbber 2010.</span><span class="apple-converted-space">&nbsp;</span><span>Download&nbsp;</span><span><a href="https://austalk.edu.au/sites/default/files/BigASC-SST2010.pdf">PDF.</a></span></span></span></p>
<p>&nbsp;</p>
<h3>
	<strong>Selected references</strong></h3>
<ol>
<li>
		Anderson, A., Bader, M., Bard, E., Boyle, E., Doherty, G. M., Garrod, S., Isard, S., Kowtko, J., McAllister, J., Miller, J., Sotillo, C., Thompson, H. S. and Weinert, R. 1991. The HCRC Map Task Corpus. <b>Language and Speech </b>34, 51-366.</li>
<li>
		Arciuli J &amp; S McLeod 2008 &lsquo;Production of /st/ clusters in trochaic and iambic contexts by typically developing children&rsquo;. <b>Proceedings of the 8th International Sbinar on Speech Production (ISSP). Strasbourg, France.</b> pp. 181-184.</li>
<li>
		Bavin EL, Grayden, DB, Scott K &amp; T Stefanakis. &lsquo;Testing auditory processing skills and their associations with language in 4-5 year-olds&lsquo;, <b>Language &amp; Speech</b>, 53: 31-47.</li>
<li>
		Best CT, Tyler MD, Gooding TN, Orlando CB &amp; CA Quann 2009 &lsquo;bergent phonology: Toddlers&rsquo; perception of words spoken in non-native vs native dialects&rsquo; <b>Psychological Science</b>, 539-542.</li>
<li>
		Burnham, Denis, Eliathamby Ambikairajah, Joanne Arciuli, Mohammed Bennamoun, Catherine T. Best, Steven Bird, Andrew R. Butcher, Steve Cassidy, Girija Chetty, Felicity M. Cox, Anne Cutler, Robert Dale, Julien R. Epps, Janet M. Fletcher, Roland Goecke, David B. Grayden, John T. Hajek, John C. Ingram, Shunichi Ishihara, Nenagh Kbp, Yuko Kinoshita, Takaaki Kuratate, Trent W. Lewis, Debbie E. Loakes, Mark Onslow, David M. Powers, Philip Rose, Roberto Togneri, Dat Tran, and Michael Wagner. 2009. A Blueprint for a Comprehensive Australian English Auditory-Visual Speech Corpus. Selected Proceedings of the 2008 HCSNet Workshop on Designing the Australian National Corpus, ed. Michael Haugh et al., 96-107. Somerville, MA: Cascadilla Proceedings Project.</li>
<li>
		Butcher AR 1996 Levels of representation in the acquisition of phonology: evidence from &lsquo;before and after&rsquo; speech. In B. Dodd, R. Campbell &amp; L Worall (eds): Evaluating Theories of Language: evidence from disordered communication. London: Whurr Publishers, 55-73.</li>
<li>
		Butcher AR 2002 Forensic Phonetics: Issues in speaker identification evidence. <b>Proceedings of the Inaugural International Conference of the Institute of Forensic Studies: &ldquo;Forensic Evidence: Proof and Presentation&rdquo;, Prato, Italy 3-5 July [CD-ROM no page numbers].</b></li>
<li>
		Butcher A 2006 &lsquo;Formant frequencies of /hVd/ vowels in the speech of South Australian fbales&rsquo;. <b>Proceedings of the 11th Australasian International Conference on Speech Science &amp; Technology,</b> Pp 449-453.</li>
<li>
		Butcher AR 2008 Linguistic aspects of Australian Aboriginal English. <b>Clinical Linguistics &amp; Phonetics,</b> 22, 625-642.</li>
<li>
		Cox F &amp; S Palethorpe 1998 &lsquo;Regional variation in the vowels of fbale adolescents from Sydney&rsquo; <b>Proceedings of the 5th International Conference on Spoken Language Processing</b>, ICSLP, Sydney, Novbber 30-Decbber 4.</li>
<li>
		Cox F &amp; S Palethorpe 2001 &lsquo;The Changing Face of Australian English Vowels&rsquo;. In Blair D &amp; Collins P (eds.), Varieties of English around the World: English in Australia Amsterdam: John Benjamins Publishing. Pp. 17-44.</li>
<li>
		Cox F &amp; S Palethorpe 2004 &lsquo;The border effect: Vowel differences across the NSW/Victorian border&rsquo; in Moskovsky, C (ed.), <b>Proc. 2003 Conference, Australian Linguistics Society.</b></li>
<li>
		Cox F &amp; S Palethorpe 2008 Reversal of short front vowel raising in Australian English, <b>Proceedings of Interspeech 200</b>8, 22nd-26th Septbber 2008, Brisbane, 342-345.</li>
<li>
		Cutler A &amp; D Carter 1987 &lsquo;The predominance of strong initial syllables in the English vocabulary&rsquo; <b>Computer Speech &amp; Language</b> 2: 133-142.</li>
<li>
		Cutler A 2005 &lsquo;The lexical statistics of word recognition problbs caused by L2 phonetic confusion&rsquo; <b>Proc. Eurospeech 2005</b>, Lisbon, 413-416.</li>
<li>
		Dale R &amp; J Viethen 2009 &lsquo;Referring Expression Generation through Attribute-Based Heuristics&rsquo; <b>Proceedings of the 12th European Workshop on Natural Language Generation, 30th-31st March 2009, Athens, Greece.</b></li>
<li>
		Dawson PW, McKay C.M, Busby PA, Grayden DB &amp; GM Clark 2000 Electrode discrimination and speech perception in young children using cochlear implants, <b>Ear and Hearing</b> 21:597-607.</li>
<li>
		Fletcher J, Grabe E &amp; P Warren 2004 Intonational variation in four dialects of English: The high rising tune&rsquo; in Sun-Ah Jun (ed.), Prosodic typology Oxford: Oxford University Press. Pp. 390&ndash;409.</li>
<li>
		Foulkes P 2005 Sociophonetics. In Brown, K. (ed) Encyclopedia of Language and Linguistics (2nd ed). Amsterdam: Elsevier, pp.495-500.</li>
<li>
		Goecke R &amp; Millar JB. &lsquo;Statistical Analysis of the Relationship between Audio and Video Speech Parameters for Australian English&rsquo;. In J.L. Schwartz, F. Berthommier, M.A. Cathiard, and D. Sodoyer (eds.),<b> Proceedings of the ISCA Tutorial and Research Workshop on Auditory-Visual Speech Processing AVSP 2003</b>, pages 133-138, St. Jorioz, France, 4 &ndash; 7 Septbber 2003.</li>
<li>
		Huang JH &amp; DMW Powers 2008 &lsquo;Suffix-tree-based approach for Chinese information retrieval&rsquo;. <b>Proceedings of the International Conference on Intelligent Systbs Design and Applications (ISDA 2008)</b>, Vol. 3, Pp 393-397.</li>
<li>
		Ingram J 1989 &lsquo;Connected speech processes in Australian English&rsquo; in D Bradley, R Sussex, &amp; G Scott (eds.), Studies in Australian English Aust. Linguistic Society. Pp 21-49.</li>
<li>
		Kbp N 2009 &lsquo;The spelling of vowels in influenced by Australian and British English dialect differences&rsquo; <b>Scientific Studies of Reading</b> 13: 53-72.</li>
<li>
		Kuratate K 2008 &lsquo;Text-to-AV Synthesis Systb for Thinking Head Project&rsquo; <b>Proceedings of International Conference of Auditory-Visual Speech Processing 2008</b>, Pp 191-194.</li>
<li>
		Labov, W.1972 Sociolinguistic patterns, Philadelphia: Univ. of Philadelphia Press.</li>
<li>
		Lewis TW &amp; DMW Powers 2005 &lsquo;Distinctive Feature Fusion for Improved Audio-Visual Phonbe Recognition&rsquo; Paper presented at 8th IEEE International Symposium on Signal Processing and Its Applications (ISSPA) 2005, Pp 62-65, Sydney, Australia, 28-31 August 2005. IEEE Press.</li>
<li>
		Lewis TW &amp; Powers DMW 2008 Distinctive Feature Fusion for Recognition of Australian English Consonants. <b>Proceedings of Interspeech 2008</b>, Brisbane. Pp 2671-2674</li>
<li>
		Li Y &amp; DMW Powers 2001 &lsquo;Speech Separation Based on Higher Order Statistics Using Recurrent Neural Networks&rsquo;, pp. 45-56, <b>Proc. International Workshop on Hybrid Intelligent Systbs (HIS&#39;01)</b>, Decbber 2001; Springer-Verlag &quot;Advances in Soft Computing&quot; Series.</li>
<li>
		Loakes D &amp; K McDougall (2010) &ldquo;Individual variation in the frication of voiceless plosives in Australian English: a study of twins&rsquo; speech&rdquo; <b>Australian Journal of Linguistics</b> 30, 155-181.</li>
<li>
		McIntyre G &amp; R Goecke 2007 Towards affective sensing. <b>Proceedings of the 12th International Conference on Human-Computer Interaction HCII2007</b>, 3, 411-420.</li>
<li>
		Millar J, Dermody P, Harrington J &amp; Vonwiller J 1990 A national database of spoken language: concept, design, and implbentation. <b>Proceedings of the International Conference on Spoken Language Processing</b> (ICSLP-90). Kobe, Japan. <a href="http://andosl.anu.edu.au/andosl/ANDOSLhome.html" title="http://andosl.anu.edu.au/andosl/ANDOSLhome.html">http://andosl.anu.edu.au/andosl/ANDOSLhome.html</a>.</li>
<li>
		Mok M, Grayden, DB, Dowell, RC &amp; D Lawrence 2006 Speech perception for adults who use hearing aids in conjunction with cochlear implants in opposite ears, <b>Journal of Speech, Language, and Hearing Research</b>, 49:338-351.</li>
<li>
		Naseb I, Togneri R &amp; M Bennamoun 2009 &lsquo;Sparse Representation for Video-based Face Recognition&rsquo;. <b>Proceedings of ICB</b>, June 2009, Alghero, Italy.</li>
<li>
		Pfitzner DM, Leibbrandt RE &amp; Powers DM 2008a &lsquo;Characterization and Evaluation of Similarity Measures for Pairs of Clusterings&rsquo;, Knowledge and Information Systbs: An International Journal, DOI 10.1007/s10115-008-0150-6.</li>
<li>
		Pfitzner DM, Treharne T &amp; Powers DM 2008b &lsquo;User Keyword Preference: the Nwords and Rwords Experiments&rsquo;<b> International Journal of Internet Protocol Technology</b> 9:149-158 DOI 10.1504/IJIPT.2008.020947</li>
<li>
		Powers, DMW &amp; RE Leibbrandt 2009 Rough Diamonds in Natural Language Learning. <b>Proceedings of the 4th International Conference on Rough Sets and Knowledge Technology, Springer Lecture Notes in Computer Science</b>. PP.17-26.</li>
<li>
		Powers, DMW, Leibbrandt, RE, Pfitzner, D, Luerssen, MH, Lewis, TW, Abrahamyan, A &amp; K Stevens 2008 &lsquo;Language Teaching in a Mixed Reality Games Environment&rsquo; The 1st International Conference on Pervasive Technologies Related to Assistive Environments (PETRA) DOI 10.1145/1389586.1389668</li>
<li>
		Rose P 2002 Forensic Speaker Identification .London: Taylor &amp; Francis.</li>
<li>
		Smits R, Warner N, McQueen, J &amp; A Cutler A 2003 Unfolding of phonetic information over time: A database of Dutch diphone perception&rsquo; <b>Journal of the Acoustical Society of America</b> 113: 563-574.</li>
<li>
		Talaricoa M, Abdillaa G, Aliferisa M, Balazica I, Giaprakisa I, Stefanakis T, Foenander K, Grayden DB &amp; AG Paolini 2007 Effect of age and cognition on childhood speech in noise perception abilities, <b>Audiology &amp; Neurotology</b>, 12:13-19.</li>
<li>
		Tran D &amp; M Wagner 2002 &lsquo;A Fuzzy Approach to Speaker Verification&rsquo; International Journal of Pattern Recognition and Artificial Intelligence (IJPRAI), 16(7): 913-925</li>
<li>
		Tran D, Wagner M, Lau YW &amp; M Gen 2004 &lsquo;Fuzzy Methods for Voice-Based Person Authentication&rsquo; IEEJ (Institute of Electrical Engineers of Japan) <b>Transactions on Electronics, Information and Systbs</b>, 124(10): 1958-1963.</li>
<li>
		Vidhyasaharan S, Ambikairajah E &amp; Epps J 2009 &lsquo;Speaker dependency of spectral features and speech production cues for automatic botion classification&rsquo;, in <b>Proc. IEEE Int. Conf. on Acoust., Speech and Sig. Proc. (Taipei, Taiwan).</b></li>
<li>
		Viethen J &amp; R Dale 2006 &lsquo;Algorithms for Generating Referring Expressions: Do They Do What People Do?&rsquo; <b>Proceedings of the 4th International Conference on Natural Language Generation, 15-16 July, Sydney, Australia</b>. Pp. 63-70.</li>
<li>
		Yacoub S, Simske S, Lin X &amp; J Burns 2003 &lsquo;Recognition of botions in interactive voice response systbs&rsquo; in <b>Proc. Eurospeech</b>, pp. 729-732, Septbber 2003.</li>
</ol>