How can I get involved ?
<h3>
	WANTED<br />
	Australian English speakers</h3>
<p>&nbsp;</p>
<p>If you are over 18 and you have completed all your schooling (from kindergarten through to high school) in Australia, you can be part of <strong>the national collection of Australian English accents.</strong></p>
<p>You will be recorded reading some words and sentences, having a conversation and playing a game with another participant. You will also be asked to complete a short questionnaire.</p>
<p><strong>Duration = 3 one-hour sessions (on separate days).</strong></p>
<p>Reimbursement: You will be given $25 for the first and second recording session and $40 for the final recording session.</p>
<p>Your data will be kept anonymously, but you will have a code so you can access your own speech data in the final database on the web.</p>
<p>If you would like to participate, you can register your interest <a href="/forms/expression-of-interest/" title="Participate">here.</a></p>
<p class="rtecenter"><span><strong>August 2013 - &nbsp;Update</strong></span></p>
<p>Recordings are now complete at a number of sites (see <a href="/recording-sites/">Recording Sites</a>) and registration is now closed in:</p>
<ul>
<li>
		Tasmania (U Tas)</li>
<li>
		The ACT (ANU&nbsp;and&nbsp;UC)</li>
<li>
		Western Australia (UWA)</li>
<li>
		Queensland (UQ, Townsville, Maroochydore)</li>
<li>
		South Australia (Flinders)</li>
</ul>