{% extends "layout/base_with_sidebar.html" %}
{% block content %}
  <ul class="breadcrumb">
    
    <li><a href="/participantportal/">Home</a></li>
  </ul>

  <h1>Information Sheet</h1>
  

<b>AusTalk: An audio-visual speech corpus of Australian English</b>
<p>In 2011/13 you took part in a study to document the speech and accents of Australians. The result of this is the AusTalk Corpus which will be a valuable resource for speech and language research for many years.  </p>
<p>
We are now almost finished collecting this data, comprising audio, video and demographic data, and as part of our review process we have realised that the original information that we provided to you and the consent that you signed may not have been explicit about the uses of the data, and  the means by which research on Australian speech and language may be conducted. As a result, we have drafted an additional consent form which we hope you will be able to sign. 
</p>
<p>
There are two aspects of this additional consent.  </p>
<p>
<b>First,</b> it had always been our goal to make this collection available as widely as possible to anyone interested in research on Australian speech and language.  However, the original consent form does not make it clear enough that the data would be available for use by persons other than those involved in the project. So that the data might encourage more research on our Australian English and allow the development of practical applications, such as better telephone speech recognition systems, better aids for learning-impaired children etc., we want also to make the data available to third parties throughout the world.   
</p>
<p>
<b>Second,</b> the data, especially the video data, that we have collected might allow you to be identified, even if your name was not used, so , according to the consent that you have already agreed to it is only appropriate for us to make the data available to researchers within the project.
  However, we would like to ask you to explicitly agree to our making the data available to other persons throughout the world.   
</p>
  <p>
We will put in place controls so that every user of your data, outside of the project, must register with us and agree to certain terms of use for the data.  We will not allow re-distribution of the data.  
</p>

<p>
The Additional Consent form is largely to make sure that you understand what your data will be used for and who might use it.  If you don't agree to the broader use of the data, we will keep the data for use only by the original project organisations in accordance with your original consent.
</p>
<p>
A link to the form of the original consent is available <a href="/participantportal/termsandconditions">here.</a> 
</p>  
<h5>What if I require further information or have questions?</h5>
<p>
If you would like to know more about this study now or at any stage, please contact <a href="mailto:info@austalk.edu.au">info@austalk.edu.au</a>
If you have questions in respect of the Additional Consent, please contact us at <a href="mailto:info@austalk.edu.au">info@austalk.edu.au.</a> 
</p>

<h5>What if I have a complaint?</h5>
<p>
This study has been approved by the University of Western Sydney Human Research Ethics Committee, Approval number <b>H8615.</b>
If you have any complaints or reservations about the ethical conduct of this research, you may contact the Ethics Committee through the Office of Research Services on Tel 024736 0883 Fax 024736 0013 or email humanethics@uws.edu.au. 
Any issues you raise will be treated in confidence and investigated fully, and you will be informed of the outcome.

</p>


{% endblock %}