AusTalk in the Media

<h3>
	SBS news - 8<sup>th</sup> May 2012 </h3>
<p>SBS news segment on AusTalk&nbsp;(26 December 2011)</p>
<div>
	<video controls="controls" height="240" tabindex="0" width="320">
		<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.mp4" type="application/mp4">
		<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.ogg" type="application/ogg">
		<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.webm" type="video/webm">
			<object data="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.mp4" height="240" width="320">
				<embed height="240" src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.swf" width="320"></embed>
			</object>
		</source></source></source>
	</video>
</div>
<p>
	<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.mp4" type="application/mp4">
		<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.ogg" type="application/ogg">
			<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.webm" type="video/webm">
				<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.mp4" type="application/mp4">
					<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.ogg" type="application/ogg">
						<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.webm" type="video/webm">
						</source>
					</source>
				</source>
</p>
	<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.mp4" type="application/mp4">
		<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.ogg" type="application/ogg">
			<source src="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.webm" type="video/webm">
	<p><a href="/files/downloads/Aus_talks_SBS_WorldNews_26Dec11.mpg">Download the SBS news segment</a></p>
	

		
	<h3> Western Advocate - 8<sup>th</sup> July 2011</h3>
	<p>Speech and language researchers at Charles Sturt University are seeking participants for the historic AusTalk national study of Australian speech and accents.</p>
	<p><a href="http://www.westernadvocate.com.au/news/local/news/general/volunteers-needed-for-austalk-study/2219345.aspx" target="_blank">Read the article on the Western Advocate website</a></p>
	


		
	<h3> UWA News - 13<sup>th</sup>	June 2011</h3>
	<p>More than 30 scientists from 11 Australian universities, including UWA , will be recording the speech patterns of 1,000 adults from 17 different locations in all states and territories.</p>
	<p><a href="http://uwanews.publishing.uwa.edu.au/?f=294577" target="_blank">Read the article in the UWA Newsletter</a></p>


	
		
	<h3>Lingua Franca - 26<sup>th</sup> March 2011</h3>
	<p>Dr Felicity Cox answers the questions of Maria Zijlstra.</p>
	<p><a href="http://www.abc.net.au/rn/linguafranca/stories/2011/3172490.htm" target="_blank">Listen to the interview on Lingua Franca</a></p>
	

	
		
	<h3>Nightline - 21<sup>st</sup>	March 2011</h3>
	<p>Associate Professor Roberto Togneri answers the questions of Graham Mabury.</p>
	<p><a href="/sites/default/files/prof_roberto_togneri_austalk.mp3" target="_blank">Download the interview (MP3, 4MB, 10 mins)</a></p>
	


		
	<h3>Study puts Aussie accent on record - 15<sup>th</sup> March 2011</h3>
	<p>Researchers at The University of Western Australia are involved in a landmark joint university study to showcase the diversity of Australian accents across the country. Associate Professor Roberto Togneri and Winthrop Professor Mohammed Bennamoun are experts in the fusion of speech processing and computer vision for the next generation of human-computer interaction systems using voice.</p>
	<p><a href="http://www.news.uwa.edu.au/201103153388/business-and-industry/study-puts-aussie-accent-record" target="_blank">Read the full article on University of Western Australia</a></p>
	


		
	<h3> Aussie accents to be preserved for posterity - 26<sup>th</sup>	January	2011</h3>
	<p>Our accent is a powerful and enduring symbol of national identity that we preserve despite the influx of electronic media and cultural icons from overseas. However, just as society changes, so too does accent as it constantly evolves to meet the changing needs of its users.</p>
	<p>A national initiative to collect the accents of 1000 Australian English speakers is being launched today, Australia Day. Australian English accents from adults of all ages from various locations in all states and territories will be collected to represent the regional and social diversity of Australian English.</p>
	<p><a href="/sites/default/files/Austalk_Media_Release.pdf" title="Media release">Download PDF (33.66 KB)</a></p>
	

	<h3>
		ABC AM</h3>
	<p>Capturing the Aussie accent</p>
	<p><a href="http://www.abc.net.au/am/content/2011/s3121938.htm" target="_blank">Read Paula Kruger&#39;s interview of Professor Denis Burnham on ABC AM</a></p>
	<h3>
		Herald Sun</h3>
	<p>Aussie accent to be recorded for history as part of Australia Day celebrations</p>
	<p><a href="http://www.heraldsun.com.au/news/national/aussie-accent-recorded-for-history-for-australia-day/story-e6frf7l6-1225994613630" target="_blank">Read the full article on the Herald Sun</a></p>
	<h3>
		News.com.au</h3>
	<p>Aussie accent recorded for history for Australia Day</p>
	<p><a href="http://www.news.com.au/breaking-news/aussie-accent-recorded-for-history-for-australia-day/story-e6frfku0-1225994571250" target="_blank">Read the full article on www.news.com.au</a></p>
	<h3>
		Nine MSN</h3>
	<p>Oz accent recorded for history</p>
	<p><a href="http://news.ninemsn.com.au/national/8201845/oz-accent-recorded-for-history" target="_blank">Read the full article on Nine MSN</a></p>
	<h3>
		BigPond News</h3>
	<p>Aussie accent recorded for history</p>
	<p><a href="http://bigpondnews.com/articles/AustraliaDay2011/2011/01/26/Aussie_accent_recorded_for_history_568979.html" target="_blank">Read the full article on BigBond News</a></p>
	<h3>
		Perth Now</h3>
	<p>Australian accent recorded for history</p>
	<p><a href="http://www.perthnow.com.au/news/national/aussie-accent-recorded-for-history-for-australia-day/story-e6frg15u-1225994613630" target="_blank">Read the full article on Perth Now</a></p>
	<h3>
		Tasmanian Examiner</h3>
	<p>Aussie accent goes on record</p>
	<p><a href="http://www.examiner.com.au/news/local/news/general/aussie-accent-goes-on-record/2057567.aspx" target="_blank">Read the full article on the Tasmanian Examiner</a></p>
	<p>&nbsp;</p>
	</source></source></source></source></source></source></p>