 Participating Institutions
 
 <h2>
	Participating institutions</h2>
<p><a href="http://marcs.uws.edu.au/" target="_blank" title="University of Western Sydney">University of Western Sydney</a> (administering)<br />
	<a href="http://www.anu.edu.au/" target="_blank" title="The Australian National University">The Australian National University</a><br />
	<a href="http://www.canberra.edu.au" target="_blank" title="University of Canberra">University of Canberra</a><br />
	<a href="http://www.usyd.edu.au/" target="_blank" title="The University of Sydney">The University of Sydney</a><br />
	<a href="http://www.unimelb.edu.au/" target="_blank" title="The University of Melbourne">The University of Melbourne</a><br />
	<a href="http://www.unsw.edu.au/" target="_blank" title="The University of New South Wales">The University of New South Wales</a><br />
	<a href="http://www.mq.edu.au/" target="_blank" title="Macquarie University">Macquarie University</a><br />
	<a href="http://www.uwa.edu.au/" target="_blank" title="The University of Western Australia">The University of Western Australia</a><br />
	<a href="http://www.uq.edu.au/" target="_blank" title="The University of Queensland">The University of Queensland</a><br />
	<a href="http://www.flinders.edu.au/" target="_blank" title="Flinders University">Flinders University</a><br />
	<a href="http://www.utas.edu.au/" target="_blank" title="University of Tasmania">University of Tasmania</a></p>
<h2>
	Partners</h2>
<p><a href="http://www.assta.org/" target="_blank" title="Australian Speech Science and Technology Association">Australian Speech Science and Technology Association</a><br />
	<a href="http://www.mpi.nl/" target="_blank" title="Max Planck Institute for Psycholinguistics">Max Planck Institute for Psycholinguistics</a></p>
<h2>
	Associates</h2>
<p><a href="http://www.csu.edu.au/" target="_blank" title="Charles Sturt University">Charles Sturt University</a><br />
	<a href="http://www.cdu.edu.au/" target="_blank" title="Charles Darwin University">Charles Darwin University</a><br />
	<a href="http://www.une.edu.au/" target="_blank" title="University of New England">University of New England</a><br />
	<a href="http://www.usc.edu.au/" target="_blank" title="University of the Sunshine Coast">University of the Sunshine Coast</a><br />
	<a href="http://www.rmit.edu.au/" target="_blank" title="RMIT University">RMIT University</a><br />
	<a href="http://www.latrobe.edu.au/" target="_blank" title="La Trobe University">La Trobe University</a><br />
	<a href="http://www.griffith.edu.au/" target="_blank" title="Griffith University">Griffith University</a><br />
	<a href="http://www.uts.edu.au/" target="_blank" title="University of Technology Sydney">University of Technology Sydney</a><br />
	<a href="http://www.appen.com.au/" target="_blank" title="Appen">Appen</a></p>