Current Project Members

<h2>Executive Members</h2>
Prof Denis Burnham, University of Western Sydney <br/>
A/Prof. Felicity Cox, Macquarie University<br/>
Prof Robert Dale, Macquarie University<br/>

<h2>Chief Investigators</h2>
Dr Eliathamby Ambikairajah, University of New South Wales<br/>
Dr Joanne Arciuli, University of Sydney<br/>
Prof Mohammed Bennamoun, University of Western Australia<br/>
Dr Cathi Best, University of Western Sydney<br/>
A/Prof Steven Bird, University of Melbourne<br/>
Prof Denis Burnham, University of Western Sydney<br/>
Prof Andy Butcher, Flinders University<br/>
A/Prof Steve Cassidy, Macquarie University<br/>
Dr Girija Chetty, University of Canberra<br/>
Dr Felicity Cox, Macquarie University<br/>
Prof Anne Cutler, University of Western Sydney / Max Planck Institute<br/>
Prof Robert Dale, Macquarie University<br/>
Dr Julien Epps, University of New South Wales<br/>
A/Prof Janet Fletcher, University of Melbourne<br/>
Dr Roland Göcke, University of Canberra<br/>
Dr David Grayden, University of Melbourne<br/>
Dr John Hajek, University of Melbourne<br/>
Dr John Ingram, University of Queensland<br/>
Dr Shunichi Ishihara, Australian National University<br/>
Dr Nenagh Kemp, University of Tasmania<br/>
Dr Yuko Kinoshita, University of Canberra<br/>
Dr Takaaki Kuratate, University of Western Sydney<br/>
Dr Trent Lewis, Flinders University<br/>
Dr Debbie Loakes, University of Melbourne<br/>
Prof Mark Onslow, University of Sydney<br/>
Prof David Powers, Flinders<br/>
Dr Phil Rose, Australian National University<br/>
Dr Roberto Togneri, University of Western Australia<br/>
Dr Dat Tran, University of Canberra<br/>
Prof Michael Wagner, University of Canberra<br/>
Project Officer Dr Dominique Estival, University of Western Sydney<br/>
Technical Officer Steven Fazio, University of Western Sydney<br/>

<h2>Associate Researchers</h2>
Dr Michael Haugh, Griffith University<br/>
Dr Julie Vonwiller, Appen Pty Ltd<br/>
Prof Katherine Demuth, Macquarie University<br/>
Prof Mark Johnson, Macquarie University<br/>
Prof Sharynne McLeod, Charles Sturt University<br/>
Dr Lawrence Cavedon, RMIT<br/>
Mr Chris Callaghan, Macquarie University<br/>
Dr Marija Tabain, LaTrobe University<br/>
Dr Geoff Morrison, Australian National University<br/>
Dr Karen Croot, University of Sydney<br/>
Dr Nick Thieberger, University of Melbourne<br/>
Dr Sallyanne Palethorpe, Macquarie University<br/>
Dr Jeanette McGregor, University of Technology Sydney<br/>
Ms Jette Viethen, Macquarie University<br/>
Dr Lesley Stirling, University of Melbourne<br/>
Dr Barb Kelly, University of Melbourne<br/>
Ms Linda Buckley, Macquarie University<br/>
Dr Celeste Rodriguez Louro, University of Western Australia<br/>