Project Timeline

<h2>Timeline</h2>
<p>
Recording of 1000 speakers across Australia started in June 2011 and will continue until December 2014. 
The data is being annotated and is now made available to project members. It will be made available to other researchers later in 2014.
</p>

<h2>
February 2014 <br/>
Where we're at now
</h2>
<b>
Recording started at Charles Darwin University, Darwin, August 2013. <br/>
Recording for Castlemaine speakers, at the University of Melbourne, started March 2013, Completed December 2013.<br/>
Recording started at the University of Melbourne, Melbourne, July 2012. Completed December 2012.<br/>
Recording started at James Cook University, Townsville, May 2012. Completed June 2012.<br/>
Recording started at the University of New South Wales, Sydney, April 2012.<br/>
Recording started at the University of New England, Armidale, April 2012. Completed December 2012.<br/>
Recording started at the University of Sunshine Coast, Maroochydore, March 2012. Completed April 2012.<br/>
Recording started at the University of Western Australia, Perth, January 2012. Completed June 2012.<br/>
Recording started at the Australian National University, Canberra, December 2011. Completed March 2012.<br/>
Recording started at the University of Queensland, Brisbane, November 2011. Completed August 2012.<br/>
Recording started at Flinders University, Adelaide, November 2011. Completed December 2012.<br/>
Recording started at the University of Sydney, October 2011. Completed April 2012.<br/>
Recording started at the University of Tasmania, Hobart, September 2011. Completed November 2011.<br/>
Recording started at the University of Canberra, August 2011. Completed November 2011.<br/>
Recording started at Charles Sturt University, Bathurst, July 2011. Completed November 2011<br/>
​All twelve Black Boxes built and shipped to the recording sites. August 2011.<br/>
Launch of the AusTalk website: Australia Day 2011.<br/>

</b>
<h2>Public presentations</h2>
<a href="/bibliography">See Publications and presentations.</a>