Recording sites

<h4>ACT (Recordings completed)</h4>
<ul>
<li>University of Canberra (completed)</li>
<li>Australian National University (completed)</li>
</ul>

<h4>New South Wales</h4>
<b>Sydney</b> <br/>
<ul>
<li>University of New South Wales </li>
<li>University of Sydney (completed)</li>
</ul>

<b>Armidale</b><br/>
<ul>
<li>University of New England (completed) </li>
</ul>
<b>Bathurst</b><br/>
<ul> <li>Charles Sturt University (completed)</li></ul>

<h4>Northern Territory</h4>
<b>Darwin</b><br/>
<ul> <li>Charles Darwin University</li></ul>

<b>Alice Springs</b><br/>
<ul> <li>Charles Darwin University</li></ul>

<h4>Queensland (Recordings completed)</h4>

<b>Brisbane</b><br/>
<ul> <li>University of Queensland (completed)</li></ul>

<b>Maroochydore</b><br/>
<ul> <li>University of the Sunshine Coast (completed)</li></ul>

<b>Townsville</b><br/>
<ul> <li>James Cook University (completed)</li></ul>
 
<h4>South Australia (Recordings completed)</h4>

<b>Adelaide</b><br/>
<ul> <li>Flinders University (completed)</li></ul>

<h4>Tasmania (Recordings completed)</h4>

<b>Hobart</b><br/>
<ul> <li>University of Tasmania (completed)</li></ul>

<h4>Victoria</h4>

<b>Melbourne</b><br/>
<ul> <li>University of Melbourne (completed)</li></ul>

<b>Castlemaine</b><br/>
<ul> <li>University of Melbourne</li></ul>

<h4>Western Australia (Recordings completed)</h4>

<b>Perth</b><br/>
<ul> <li>University of Western Australia (completed)</li></ul>