Sponsors
	
<h2>ARC: The Australian Research Council</h2>
<p>The project has been made possible with a Linkage Infrastructure, Equipment and Facilities grant from the Australian Research Council (LEI100200311).</p>
<h2>ASSTA</h2>
<p>The Australasian Speech Science and Technology Association is a significant sponsor of the project, providing financial and in-kind support.</p>
<h2>University of Western Sydney</h2>
<p>In addition to their contracted financial contribution (along with those contributions of the other participating institutions), UWS and MARCS Labs (<a href="http://marcs.uws.edu.au/" title="http://marcs.uws.edu.au/">http://marcs.uws.edu.au/</a>) are providing technical and administrative staff and in-kind support, along with additional financial support.</p>