<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- Stylesheet includes -->
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/bootstrap.css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/bootstrap-responsive.css" media="screen" />

  <!-- Primary stylesheet with specialisation below -->
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/portal.css" media="screen" />
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/searchportal.css" media="screen" />
  
  {% block head %}<!-- extra header elements -->{% endblock %}
</head>
<body>

  {% include "layout/header.html" %}

  <div class="container-fluid">
    <div class="row-fluid">
      <!-- Use bootstrap to create a simple 3 column layout -->
      <div class="span10 offset1">
        <header>
          {% block breadcrumbs %}
          {% endblock %}
        </header>
        <h1>
          {% block subtitle %}
          {% endblock %}
        </h1>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

<!-- Placed at end to help improve page load times -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>

</body>
</html>