<div class="header">
<div class="logo">

    <img src="{{ STATIC_URL }}images/logo.jpg" height="135px"/>  

  </div>

<nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="#"></a>  
    </div>

  	<div class="navbar-collapse collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav ">
          	 <li><a href="/" alt="Home">Home</a></li>
            {% if user.is_authenticated %}
                
                {% if user.is_staff or user.is_superuser %}
                    <li><a href="/stats/">Statistics</a></li>
                    <li><a href="/browse">Browse</a></li>
                    <li><a href="/search/" title="Search">Search</a></li>  
                {% else %}
                
	                {% for group in user.groups.all|slice:":1" %}
	
	                  {% if group.name == "participants" %}
	                   
	                    <!--
	                    <li><a href="/participantportal/termsandconditions/" alt="Terms and conditions">Terms &amp; Conditions</a></li>
	                  -->
	                  {% elif group.name == "research" %}
	                    <li><a href="/stats/">Statistics</a></li>
	                    <li><a href="/browse">Browse</a></li>
	                    <li><a href="/search/" title="Search">Search</a></li>  
	                    
	                  {% endif %}
	
	
	              {% endfor %}
           	  {% endif %}

            {% endif %}       
            
            <li><a href="/participantportal/">Participant Portal</a></li>
            
            {% if user.is_authenticated %}
              <li class="nav pull-right"><a href="/logout" title="Sign out and end session">Sign out</a></li>
            {% else %}
              <li class="nav pull-right"><a href="/login" title="Sign out and end session">Sign In</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
        

        <!--
  <div class="navbar-inner">
    <div class="container">
      
      <nav>
        <ul class="nav">
          <li><a href="/" title="Home">Home</a></li>
          
          <li><a href="/stats/" title="Statistics">Statistics</a></li>  
          
          <li class="dropdown">
            <a href="/browse">Browse</a>
          </li>
		  <!-
          <li><a href="/search/" title="Search">Search</a></li>  
         ->
        </ul>
      

      
        <ul class="nav pull-right">
          <!-
          	{% if perms.auth.can_view_agreements %}
          <li><a href="/browse/agreements/" title="Signed agreements">Agreements</a></li>
          {% endif %}
          
          <li><a href="/logout" title="Sign out and end session">Sign out</a></li>
        </ul>
      </nav>

    </div>
  </div>-->


</div> <!-- / CONTAINER-FLUID -->


</nav>
<div class="clearfix"></div>
</div> <!-- / .header -->