<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/stats/" title="Statistics">Statistics</a></li>  
          <li><a href="/browse/" title="Browse">Browse</a></li>  
          <li><a href="/search/" title="Search">Search</a></li>  
        </ul>
      </nav>
      <nav>
        <ul class="nav pull-right">
          <li><a href="/logout" title="Sign out and end session">Sign out</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>