<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- Stylesheet includes -->
  <link rel="stylesheet" href="/static/styles/bootstrap.css" media="screen" />
  <link rel="stylesheet" href="/static/styles/bootstrap-responsive.css" media="screen" />
  <link rel="stylesheet" href="/static/styles/login.css" media="screen" />
  
  <script src="/static/js/bootstrap.js"></script>
</head>
<body class="login">  
  
  <div class="container">
  
    <h1 class="centre">
      {% block formheading %}{% endblock %}
    </h1>
  
    <div class="row">
      <section class="span4 offset4">
        {% block content %}{% endblock %}
      </section>
    </div>
  
  </div>

</body>
</html>