{% extends "login_base.html" %}

{% block title %}User Login{% endblock %} 

{% block content %}

		<h1>Bigasc Meta Search</h1>
		
		<!-- Check firstly to see if there was a login failure attempt prior to continuing -->
		{% if form.errors %}
			<div class="flash_alert" id="Flash">Sorry, your username or password wasn't recognized</div>
		{% endif %}
		
		<!-- Login form -->
		<form method="POST" action=".">
			{% csrf_token %}
			<p>
				<label for="id_username">
					<h2>Username</h2>
				</label>
				{{ form.username }}
			</p>
			<br/>
			<p>
				<label for="id_password">
					<h2>Password</h2>
				</label>
				{{ form.password }}
			</p>
			<br/>
			
			<!-- This hidden field is used to tell the application where to proceed to on a successful login -->
			<input type="hidden" name="next" value="/"/>
			<input class="button" type="submit" value="Sign in"/>
			
			<div class="extras">
		        <ul>
        			<li>
        				<strong>Help: </strong>
        				<a href="/register/" alt="register"/>Click here to register</a>.
        			</li>
        		</ul>
      		</div>

		</form>
	
{% endblock %}