{% extends "layout/login_base.html" %}
{% block content %}
		
		<!-- Check firstly to see if there was a login failure attempt prior to continuing -->
		{% if form.errors %}
			<aside class="flash_alert" id="Flash">Sorry, your username or password wasn't recognized</aside>
		{% endif %}
		
		<!-- Login form -->
		<form method="POST" action="." class="form">
			{% csrf_token %}
			
			<div class="control-group">
        <div class="controls">
					<label for="id_username">
						<h2>Username</h2>
					</label>
					{{ form.username }}
				</div>
			</div>

			<div class="control-group">
        <div class="controls">
					<label for="id_password">
						<h2>Password</h2>
					</label>
					{{ form.password }}
				</div>
			</div>
			
			<!-- This hidden field is used to tell the application where to proceed to on a successful login -->
			<input type="hidden" name="next" value="/"/>
			<input type="submit" value="Sign in" class="btn btn-primary" />

		</form>
	
{% endblock %}