{% extends "login_base.html" %}

{% block title %}
	Registration
{% endblock %} 

{% block content %}

		<h1>Registration Page</h1>
		
		<!-- Check firstly to see if there was a registration failure -->
		{% if form.errors %}
			<div class="flash_alert" id="Flash">
				{{ form.errors }}
			</div>
		{% endif %}
		
		<!-- registration form -->
		<form method="POST" action="/register/">
			{% csrf_token %}
			<p>
				<h2>Username</h2>
				{{ form.user_name }}
			</p>
			<br/>
			<p>
				<h2>First Name</h2>
				{{ form.first_name }}
			</p>
			<br/>
			<p>
				<h2>Last Name</h2>
				{{ form.last_name }}
			</p>
			<br/>
			<p>
				<h2>Email</h2>
				{{ form.email }}
			</p>
			<br/>	
			<p>
				<h2>Password</h2>
				{{ form.password_original }}
			</p>
			<br/>
			<p>
				<h2>Password (Confirm)</h2>
				{{ form.password_confirm }}
			</p>
			<br/>
			<input class="button" type="submit" value="Register"/>		
			<div class="extras">
		        <ul>
        			<li>
        				<strong>Help: </strong><a href="/login/" alt="login"/>Login</a> if you already have a username and password.
        			</li>
        		</ul>
      		</div>
			
		</form>
	
{% endblock %}