<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Stylesheet includes -->
	<link rel="stylesheet" href="/static/styles/main.css" type="text/css" />
	<link rel="stylesheet" href="/static/styles/theme.css" type="text/css" />

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="search">

    {% include "layout/header.html" %}

 	<!--  Primary menu bar -->
    <div id="Tabs"> 
    	<ul id="MainTabs">
			<li><a href="/" class="current" title="">Search</a></li>
			<li><a href="/" title="Administer your details">Administration</a></li>  
		</ul>
 	</div>

 	<div id="Wrapper" style="position: relative;">
		<div id="screen_body" class="container">
		 	<div class="Left">
		 		<!-- Start of page content -->
		        <div class="col">
		            <div class="page_header">
		            	<div class="page_header_links">		
						</div>
						<h1>Your overview &amp; activity</h1>
					</div>
					<div class="innercol">
		    			{% block content %}{% endblock %}
		    		</div>
		    	</div>
	    	    {% include "layout/footer.html" %}
		    </div>
		    <div class="Right">
				<div class="col">
			  	</div>
			</div>
		</div>
	</div>
</body>
</html>