<section>
    <table class="table table-striped">
		<thead>
			<tr><th>Component Name</th><th>Short Name</th><th>QA Ratings</th><th>Comments</th></tr>
		</thead>
		<tbody>
    {% for comp in components %}            
        <tr><th><a href="{{comp.get_absolute_url}}">{{ comp.name }}</a></th> 
 	   		<td>{{ comp.componentId }}</td> 
          	<td>Audio {{comp.audiorating}}, Video: {{comp.videorating}}</td> 
          	<td>{{comp.comment}}</td></tr>
    {% endfor %}
		</tbody>
    </table>
</section>