{% extends "layout/2columnlayout.html" %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Items
{% endblock %}

{% block subtitle %}
    Speaker {{participant_id}}|Session {{ session_id }}|Component {{ component_id }}|Item list
{% endblock %}

{% block page_links %}
    <a href="/browse/">sites</a> | 
    <a href="/browse/{{ site_id }}/">participants</a> |
    <a href="/browse/{{ site_id }}/{{ participant_id }}">{{ participant_id }}</a>
{% endblock %}

{% block menubar %}
    <li><a href="/" title="Your dashboard">Dashboard</a></li>
    <li><a href="/browse/sites" class="current" title="Browse">Browse</a></li> 
    <li><a href="/search" title="Search">Search</a></li>  
{% endblock %}

{% block content %}
 <table class="overview">
        {% for item in items %}
            <tr class="date">
                <td colspan="4">
                    <h2 class="date">
                        <span>
                            <a href="{{item.get_absolute_url}}"> {{ item.basename }}</a>
                        </span>
                    </h2>
                </td>
            </tr>
            <tr class="event">
              <td class="what"><span class="post">Details</span></td>
                <td class="item">
                  <div class="vertical_list">
                    <ul>
                      <li>Prompt: {{ item.prompt }}</li>
                      <li><a href="{{item.ch6media}}">{{item.prompt}}</a></li>
                    </ul>
                  </div>
                </td>
                <td class="action">ID: {{ item.identifier }}</td>
                <td class="name"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

