{% extends "layout/2columnlayout.html" %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Item {{item.basename}}
{% endblock %}

{% block subtitle %}
    {{ session.name }} Components
    <div class="page_header_links">
        <a href="/browse/sites/">&lt;&lt;&nbsp;sites</a> | 
        <a href="/browse/sites/{{ site_id }}/">&lt;&lt;&nbsp;participants</a> |
        <a href="/browse/sites/{{ site_id }}/{{ participant_id }}">&lt;&lt;&nbsp;{{ participant_id }}</a> | ...  
    </div>
{% endblock %}

{% block menubar %}
    <li><a href="/" title="Your dashboard">Dashboard</a></li>
    <li><a href="/browse/sites" class="current" title="Browse">Browse</a></li> 
    <li><a href="/search" title="Search">Search</a></li>  
{% endblock %}

{% block content %}
    <table class="overview"> 
            <tr class="date">
                <td colspan="4">
                    <h2 class="date">
                        <span>
                            <a href="{{item.get_absolute_url}}"> {{ item.id }}
                        </span>
                    </h2>
                </td>
            </tr>
            <tr class="event">
                <td class="what"><span class="post">Details</span></td>
                <td class="item">{{ item.prompt }}</td>
                <td class="action">ID: {{ item.identifier }}</td>
            </tr>
            <tr>
              <td colspan=3>
                <dl>
                {% for prop, value in item.properties.iteritems %}
                 <dt>{{prop}}</dt>
                 {% for v in value %}
                   <dd>{{ v }}</dd>
                 {% endfor %}
                {% endfor %}
                </dl>
            </tr> 
    </table>
{% endblock %}