{% extends "layout/2columnlayout.html" %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Item {{item.basename}}
{% endblock %}

{% block subtitle %}
    {{ session.name }} Components
{% endblock %}

{% block menubar %}
    <li><a href="/" title="Your dashboard">Dashboard</a></li>
    <li><a href="/browse/" class="current" title="Browse">Browse</a></li> 
    <li><a href="/search" title="Search">Search</a></li>  
{% endblock %}

{% block page_links %}
    <a href="/browse/">sites</a> | 
    <a href="/browse/{{ site_id }}/">participants</a> |
    <a href="/browse/{{ site_id }}/{{ participant_id }}">{{ participant_id }}</a>
{% endblock %}

{% block content %}
    <table class="overview"> 
            <tr class="date">
                <td colspan="4">
                    <h2 class="date">
                        <span>
                            <a href="{{item.get_absolute_url}}"> {{ item.id }}
                        </span>
                    </h2>
                </td>
            </tr>
            <tr class="event">
                <td class="what"><span class="post">Details</span></td>
                <td class="item">
                    {{ item.prompt }}
                     <div class="vertical_list">
                        {% for prop, value in item.properties.iteritems %}
                        <h3>{{prop}}</h3>
                            <ul>
                                {% for v in value %}
                                    <li>{{ v }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </ul>
                </div>
                </td>
                <td class="action">ID: {{ item.identifier }}</td>
            </tr>
    </table>   
{% endblock %}