{% extends "layout/2columnlayout.html" %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Item {{item.basename}}
{% endblock %}

{% block subtitle %}
    {{ session.name }} Components
{% endblock %}

{% block menubar %}
    <li><a href="/" title="Your dashboard">Dashboard</a></li>
    <li><a href="/browse/" class="current" title="Browse">Browse</a></li> 
    <li><a href="/search" title="Search">Search</a></li>  
{% endblock %}

{% block page_links %}
    <a href="/browse/">sites</a> | 
    <a href="/browse/{{ site_id }}/">participants</a> |
    <a href="/browse/{{ site_id }}/{{ participant_id }}">{{ participant_id }}</a>
{% endblock %}

{% block content %}
 
            <table class="description">
              <tr><th>Name</th><td><a href="{{item.get_absolute_url}}">{{ item.basename }}</a></td></tr>
              <tr><th>Prompt</th><td>{{ item.prompt }}</td></tr>
              <tr><th>ID</th><td>{{ item.identifier }}</td></tr>
              <tr><th>Audio</th><td><a href="{{item.ch6media}}">Play {{item.basename}}</a></td>

     
              {% for prop, value in item.properties.iteritems %}
              <tr><th>{{prop}}</th><td>
                {% if value|length == 1 %}
                  {{value.0}}
                {% else %}
              
                  <ul>
                      {% for v in value %}
                          <li>{{ v }}</li>
                      {% endfor %}
                  </ul>
                 {% endif %}
                  </td>
              {% endfor %}
            </tr>
    </table>   
{% endblock %}