{% extends "participantportal/layout/base.html" %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><span class="divider">/</span></li>
    <li><a href="/participantportal/">Home</a></li>
  </ul>
{% endblock %}

{% block subtitle %}
  Personal Data
{% endblock %}

{% block content %}
  {% include "recordings.html" %}
    
  <h3>Demographic Information</h3>
  <table class="table table-striped">
    {% include "browse/participants/common_demographic.html" %}
    {% include "browse/participants/mothers_info.html" %}
    {% include "browse/participants/fathers_info.html" %}
    {% include "browse/participants/other_info.html" %}         
  </table>
{% endblock %}