{# extends "participantportal/layout/base.html" #}
{% extends "layout/base.html" %}

{% block subtitle %}
  Data Summary
{% endblock %}

{% block content %}
  
  
  <h2>Austalk data for {{ participant.properties.name.0 }}</h2>
  
  <div class="row">
    <div class="col-md-8">
      <p>
        Welcome to the AusTalk's Participant Portal. This page is dedicated to provide details of the participant in the aspects of personal information, education status, language, residential history, profession etc. You even have access to your recordings. If in case you find some wrong information, please contact <a href="mailto:info@austalk.edu.au">info@austalk.edu.au</a> and it will be rectified in no time.

      </p>

      {% if not user_profile.has_accepted_agreements %}
        <section>
          <h2>Additional Consent</h2>
          <p>
            It is important for us to make you aware that these data may be accessed by a number of researchers and thus your consent is required. Please read through our Additional Consent and accpet the data sharing agreement.

          </p>
          <a href="/participantportal/termsandconditions/" title="terms and conditions">
            <button type="button" class="btn btn-success" >Click to view and accept the data sharing agreement.</button>
          </a>
        </section>
      {% endif %}

      {% include "recordings.html" %}

    </div> <!-- end col-md-8 -->

    <div class="col-md-4">

      <video width="320" height="240" controls>
        <source src="{{ STATIC_URL }}webvideo/{{ webvideo_name }}" type="video/mp4">
      
      </video>
    </div> <!-- end col-md-4 -->
  </div> <!-- end row -->
  
  
  <h2> Personal Information </h2>

  {% include "browse/participants/common_demographic.html" %}
  
  
{% endblock %}