<!DOCTYPE html>
<html lang="en">
<head>
  <title>Participant Portal</title>

  <!-- Stylesheet includes -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Bitter:400,700|Nothing+You+Could+Do" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/static/styles/bootstrap.min.css" media="screen" />
  <link rel="stylesheet" href="/static/styles/primary.css" media="screen" />
  
  <script src="/static/js/bootstrap.js"></script>
</head>
<body>  
  <div class="container">
    
    <h1 class="centre">Participant Portal</h1>
    
    <div class="row">
      <div class="span6 offset3">
        
        {% if form.errors %}
          <div class="alert" id="Flash">
            Authentication Failure.
          </div>
        {% endif %}
    
        <form method="POST" action="." class="well">
          {% csrf_token %}
          <legend>Login</legend>

          <div class="control-group">
            <label for="id_colour" class="control-label">Colour</label>
            <div class="controls">
              {{ form.colour }}
            </div>
          </div>

          <div class="control-group">
            <label for="id_animal" class="control-label">Animal</label>
            <div class="controls">
              {{ form.animal }}
            </div>
          </div>

          <div class="control-group">
            <label for="id_birth_year" class="control-label">Birth Year</label>
            <div class="controls">
              {{ form.birth_year }}
            </div>
          </div>

          <div class="control-group gender-choice">
            <label for="id_gender" class="radio inline">Gender</label>
            <div class="controls">
              {{ form.gender }}
            </div>
          </div>

          <input class="btn btn-primary" type="submit" value="Sign in"/>
        </form>
      
      </div>
    </div>
  
  </div>
</body>
</html>
