{% extends "layout/login_base.html" %}

{% block title %} 
  Participant Portal | Sign In
{% endblock %} 

{% block formheading %}
  Participant Portal
{% endblock %}

{% block content %}
    
<form method="POST" action="." class="loginbox form-inline form-signin">
  {% csrf_token %}
  <h2>Participant Sign In</h2>

  {% if form.errors %}
    <aside class="alert alert-warning" id="Flash">
      Authentication Failure.
    </aside>
  {% endif %}

  <div class="control-group">
    <label for="id_colour" class="control-label">Colour</label>
    <div class="controls">
      {{ form.colour }}
    </div>
  </div>

  <br/>
  
  <div class="control-group">
    <label for="id_animal" class="control-label">Animal</label>
    <div class="controls">
      {{ form.animal }}
    </div>
  </div>
  
  <br/>
  
  <div class="control-group">
    <label for="id_birth_year" class="control-label">Birth Year</label>
    <div class="controls">
      {{ form.birth_year }}
    </div>
  </div>

  <br/>

  <div class="control-group">
    <label class="control-label">Gender</label>
    <div class="controls">
      {{ form.gender }}
    </div>
  </div>

  <br/>
  
  <input class="btn btn-primary buttonextend" type="submit" value="Sign in"/>

  <p id="participant-para">
    A researcher? <a href="/login/" title="Researcher login">Click here</a> to login. <br/>
    Forgot your Colour-Animal Combination ? <a href="/participantportal/reset/" title="Password Help">Click here</a> for help.
  </p>

</form>
  
{% endblock %}
