{% extends "layout/login_base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

  

<form method="POST" action="." class="loginbox">
  {% csrf_token %}
  <h3>View Colour-Animal</h3>
  Please Fill up the form to view your Colour-Animal Combination 
   <br/><br/>
{% if form.errors %}
    <aside class="alert alert-warning" id="Flash">
      Sorry, No Match Found
    </aside>
  {% endif %}

 

  <div class="control-group" >
    <label for="id_site" class="control-label">Recording Site</label>
    <div class="controls" >
      {{ form.pwd_site }}
    </div>
  </div>

  <br/>
  <div class="control-group">
    <label for="id_birth_year" class="control-label">Highest Qualification</label>
    <div class="controls">
      {{ form.pwd_highest_qual }}
    </div>
  </div>

  <br/>

  <div class="control-group">
    <label class="control-label">Mother's Highest Qualification</label>
    <div class="controls">
      {{ form.pwd_mother_highest_qual }}
    </div>
  </div>

  <br/>

  <div class="control-group">
    <label class="control-label">Father's Highest Qualification (Optional)</label>
    <div class="controls">
      {{ form.pwd_father_highest_qual }}
    </div>
  </div>
  
 
  <br/>
  <input class="btn btn-primary buttonextend" type="submit" value="Get My Colour-Animal Combination"/>

  <p id="participant-para">
    A researcher? <a href="/login/" title="Researcher login">Click here</a> to login.
  </p>

</form>


{% endblock %}