{% extends "layout/base_with_sidebar.html" %}
{% block content %}
  <ul class="breadcrumb">
    
    <li><a href="/participantportal/">Participant Portal</a></li>
  </ul>

  <h1>Terms &amp; Conditions</h1>
  
  {% for status in agreement_status_set %}  

    <h2>Agreement</h2>
    <p>
      {% autoescape off %}
        {{ status.agreement.legalise }}
      {% endautoescape %}
    </p>

    {% if status.has_agreed %}
      <p>
        <em>
          You accepted this agreement on {{ status.agreement_date }}
        </em>
      </p>
    {% else %}
      <p>
        To accept this agreement click the accept button.
      </p>
      <form method="POST" action="." class="form agreement-form">
        {% csrf_token %}
        <input type="hidden" name="agreementstatus_id" value="{{ status.id }}" />
        <input class="btn btn-primary buttonextend" type="submit" value="Accept"/>
      </form>
    {% endif %}

    ---------

  {% endfor %}



{% endblock %}