{% extends "layout/base_with_sidebar.html" %}
{% load webdesign %}

{% block title %}
	Austalk Meta Search | Home
{% endblock %}

{% block subtitle %}
   
{% endblock %}

{% block image_slider %}
<!--
   <img src ="{{STATIC_URL}}images/banner-9.jpg" class="img-responsive" style="border-radius:15px;"/>
-->
{% endblock %}


{% block content %}

    <h2>{{page.title}}</h2>
    
    {% if page.content %}
    {{ page.content|safe }}
    {% else %}
    <p>Create a flatpage with url '/' to see content here</p>
    {% lorem 2 p %}
    {% endif %}
             
{% endblock %} <!-- end Content -->


