<!DOCTYPE html>
<html lang="en">
<head>
  <title>Participant Portal</title>

  <!-- Stylesheet includes -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Bitter:400,700|Nothing+You+Could+Do" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/static/styles/bootstrap.css" media="screen" />
  <link rel="stylesheet" href="/static/styles/primary.css" media="screen" />
  
  <script src="/static/js/bootstrap.js"></script>
</head>
<body class="login">  
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>