{# extends "participantportal/layout/base.html" #}
{% extends "layout/base.html" %}
{% load demographic %}


{% block breadcrumbs %}
	{% autoescape off %}
		{{ breadcrumbs }}
	{% endautoescape %}
{% endblock %}

{% block subtitle %}
  Session {{ session_id }} component list
{% endblock %}

{% block content %}
  <h2>Participant: {% participant participant_id %}</h2>

<section>
  <table class='table'>
    {% for comp in components %}            
      <tr>
        <td><a href="{{comp.get_participant_url}}">{{ comp.name }} component</a></td>
      </tr>
    {% endfor %}
  </table>
</section>
{% endblock %}