{# extends "participantportal/layout/base.html" #}
{% extends "layout/base.html" %}


{% block breadcrumbs %}
<ul class="breadcrumb">
  
  <li><a href="/participantportal/">Participant Portal</a></li>
   <li><a href="/participantportal/{{ site_id }}/{{ participant_id }}/{{ session_id }}/">Session {{ session_id }}</a> </li>
</ul>
{% endblock %}

{% block subtitle %}
  Session {{ session_id }} component list
{% endblock %}

{% block content %}

  {% include "browse/components/component_list.html" %}
{% endblock %}