<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <li><a href="/participantportal/" alt="Home">Home</a></li>
          <li><a href="/participantportal/data/" alt="Data">Data</a></li>
          <li><a href="/participantportal/termsandconditions/" alt="Terms and conditions">Terms &amp; Conditions</a></li>
        </ul>
      </nav>
      <nav>
        <ul class="nav pull-right">
          <li><a href="/participantportal/logout" alt="Sign out and end session">Sign out</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>