{% if form.errors %}
    <aside class="alert" id="Flash">
        <header>Errors</header>
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors|escape }}
            {% endif %}
        {% endfor %}
    </aside>
{% endif %}

<div class="control-group">
    <label for="id_gender" class="control-label">Gender</label>
    <div class="controls">
        {{ form.gender }}
    </div>
</div>

<div class="control-group">
    <label for="id_ses" class="control-label">Socio Economic Status</label>
    <div class="controls">
        {{ form.ses }}
    </div>
</div>

<div class="control-group">
    <label for="id_highest_qual" class="control-label">Highest Qualification</label>
    <div class="controls">
        {{ form.highest_qual }}
    </div>
</div>

<div class="control-group">
    <label for="id_prof_cat" class="control-label">Professional Category</label>
    <div class="controls">
        {{ form.prof_cat }}
    </div>
</div>