{% extends "layout/base.html" %}

{% block title %}Austalk Meta Search | Home{% endblock %}

{% block subtitle %}Corpus Search{% endblock %}

{% block content %}
{% if form %}

<p>
    {% if participant_count == 0 %}
        No participants found.
    {% endif %}
</p>

<fieldset>
  <form action="/search/participants/components" method="GET" class="form">
    
    {% include "search/core_fields.html" %}

    <input type="submit" value="Search" class="btn btn-primary"/>
  </form>
</fieldset>

{% endif %}
{% endblock %}