<html>
<head>
        <title>You're now being logged in to {{ login_site }} ...</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<body>
        You're now being logged in to {{ login_site }} ...
        <form method="post" action="{{ sso_login_url }}" id="loginform">
                <input type="hidden" name="sessionid" value="{{ sessionid }}" />
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="Log in to {{ login_site }}" />
        </form>

        <script type="text/javascript">
                // auto-submit the form if js enabled
                $('#loginform').submit();       
        </script>

</body>
</html>
