<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Stylesheet includes -->
	<link rel="stylesheet" href="/static/styles/main.css" type="text/css" />
	<link rel="stylesheet" href="/static/styles/theme.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" id="sgvzlr_script" src="http://sgvizler.googlecode.com/svn/release/0.5/sgvizler.js"></script>
   <!--THIS MUST POINT TO MY JAVASCRIPT FILE!!-->
    <script type="text/javascript" id="Austalk_functions" src="Austalk_functions.js"></script>
        
    <script type="text/javascript">
      // CONFIGURATION Sgvizler 0.5: Set variables to fit your setup.
      // NB! Do not let the last item in a list end with a comma.

       //// Query settings. The defaults settings are listed.
       sgvizler.option.query = {
           // Default query. 
           'query':                
           "SELECT  ?inst (count(?part) as ?partcount)\nWHERE {\n ?site rdf:type austalk:RecordingSite .\n ?site rdfs:label ?inst .\n ?part rdf:type foaf:Person .\n ?part austalk:recording_site ?site .\n}\ngroup by ?inst"
           ,
           'endpoint':             "http://sesame.stevecassidy.net/openrdf-sesame/repositories/bigasc_prod",
           'endpoint_output':      'json',  
           // Default chart type. 
           'chart':                'gPieChart',
           // Default log level. Must be either 0, 1, or 2. 
           'loglevel':             0
       };

       //// Prefixes
       // Add convenient prefixes for your dataset. rdf, rdfs, xsd, owl
       // are already set.  Examples: 
       sgvizler.option.namespace['dc'] = 'http://purl.org/dc/terms/';
       sgvizler.option.namespace['ausnc'] = 'http://ns.ausnc.org.au/schemas/ausnc_md_model/';
       sgvizler.option.namespace['olac'] = 'http://www.language-archives.org/OLAC/1.1/';
       sgvizler.option.namespace['ice'] = 'http://ns.ausnc.org.au/schemas/ice/';
       sgvizler.option.namespace['foaf'] = 'http://xmlns.com/foaf/0.1/';
       sgvizler.option.namespace['graf'] = 'http://www.xces.org/ns/GrAF/1.0/';
       sgvizler.option.namespace['austalk'] = 'http://ns.austalk.edu.au/';
       sgvizler.option.namespace['geo'] = "http://www.w3.org/2003/01/geo/wgs84_pos#";
       sgvizler.option.namespace['iso639schema'] = "http://downlode.org/rdf/iso-639/schema#";
       sgvizler.option.namespace['protocol'] = "http://id.austalk.edu.au/protocol/";
       sgvizler.option.namespace['austalkd'] = "http://data.austalk.edu.au/";
       sgvizler.option.namespace['dbp'] = "http://dbpedia.org/ontology/";
       sgvizler.option.namespace['geo'] = "http://www.w3.org/2003/01/geo/wgs84_pos#";

       //// Leave this as is. Ready, steady, GO!
       $(document).ready(sgvizler.go());
    </script> 
    
    <style>
    p.padding
    {
    	padding-top:25px;
    	padding-bottom:25px;
    	padding-right:50px;
    	padding-left:50px;
    }
    </style>

    <title>
 	Austalk Meta Search | Reports
	</title>
</head>

<body class="dashboard"  onload="options_clone(); retreiveData();">

    <!-- Header which contains name of project and links on right side of page -->
<div id="Header" class="global">

	<h3>
		 <span class="pipe">|</span>
    	<a href="/logout" title="Sign out and end session">Sign out</a> <span class="pipe">|</span>    	
    	<a href="" class="help" target="_blank"><span>Help</span></a> 
    </h3>
    
    <!-- Global application title which appears in left hand side of application -->
    <h1>Austalk {Beta}</h1> 

</div>

 	<!--  Primary menu bar -->
    <div id="Tabs"> 
    	<ul id="MainTabs">
    		
	<li><a href="/" title="Your dashboard">Dashboard</a></li>
    <li><a href="stats.htm" class="current" title="Statistics">Statistics</a></li>  
    <li><a href="/browse/" title="Browse">Browse</a></li>  
	<li><a href="/search/" title="Search">Search</a></li>  

		</ul>
 	</div>

 	<div id="Wrapper" style="position: relative;">
		<div id="screen_body" class="container">
		 	<div class="Left">
		 		<!-- Start of page content -->
		        <div class="col">
		            <div class="page_header">		       
		            	<div class="page_header_links">
		            			
						</div>
						<h1>
Speaker Statistics
</h1>
					</div>
					<div class="innercol">
		    			
		    			 <table border="0" cellpadding="10";>
   <tr>
   		<td><h3><a href="gender.htm">Gender</h3></td>
   		<td><h3><a href="age.htm">Age</h3></td>
   		<td><h3><a href="culture.htm">Cultural Heritage</h3></td>
   		<td><h3><a href="language.htm">Language</h3></td>
   		<td><h3><a href="birthplaces.htm">Birthplaces</h3></td>
   		<td><h3><a href="professional_category.htm">Professional Category</h3></td>
   		<td><h3><a href="query.htm">Custom Query</h3></td>
   	</tr>
   	<tr>
   </tr>
   </table>

<!-- Help Link -->
<table border="1" cellpadding="5">
   <tr>
	<td>
	<font color ="#01A9DB"><b><h2><a href="help_page.htm">Help Page</h2></a></b></font>
	</td>
   </tr>
   </table>

<!-- query box (that is hidden) where the query selected is stored -->
 		 <div id="queryarea">
      <pre id="sgvzlr_cPrefix" style="display:none;"></pre>
      <textarea id="sgvzlr_cQuery" rows="10" cols="80" style="display:none;"></textarea>
      <form method="get" id="sgvzlr_formQuery">
	<p>
   <input type="hidden" value="" name="query" id="sgvzlr_strQuery"/>
	
<!-- chart type otions drop down box -->  
	  Chart Type: <select name="chart" id="sgvzlr_optChart" onchange="changeDropdowns();"></select>
	  
	      
<!-- Drop down list 1 -->
<label for="id_var_1">1st Variable:</label> 
<select name="var_1" id="id_var_1">
	
	<option value="">---</option>
	<option value="name">Name</option>
	<option value="id">ID</option>
	<option value="birthYear">Date of Birth</option>
	<option value="ageGroup">Age Group</option>
	<option value="pob_town">Town of Birth</option>
	<option value="pob_state">State of Birth</option>
	<option value="pob_country">Country of Birth</option>
	<option value="postcode">Postcode</option>
	<option value="suburb">Suburb</option>
	<option value="gender">Gender</option>
	<option value="education_level">Education Level</option>
	<option value="ses">Socio-Economic Status</option>
	<option value="professional_category">Professional Category</option>
	<option value="professional_occupation">Professional Occupation</option>
	<option value="cultural_heritage">Cultural Heritage</option>
	<option value="recording_site">Recording Site</option>
	<option value="first_language">First Language</option>
	<option value="other_languages">Other Languages</option>
	<option value="hobbies_details">Hobbies</option>
	<option value="student_enrollment">Student Enrollment</option>
	<option value="student_course">Student Course</option>

</select>

<!-- Drop down list 2 -->
<label for="id_var_2">2nd Variable:</label> 
<select name="var_2" id="id_var_2">
</select>

<!-- checkbox -->
<p>
<label for="id_check_box">Check this box for a participant count:</label> <input type="checkbox" name="check_box" id="id_check_box" onClick="checkBox(this.checked,'checkBox_checked')">
</p>
<!-- filterbox -->
<p>	
<table border="0" cellpadding="10";>
   <tr>

		<td><label for="id_filter_box">Filter:</label> <input id="id_filter_box" type="text" name="Filter" maxlength="100" size="10" /></td>
<!-- filterbox radiobuttons -->
   		<td><label for="id_filter_opt_contains">Contains Text:</label> <input type="radio" name="filter_option" id="id_filter_opt_contains"></td>
		<td><label for="id_filter_opt_exact">Exact matches only:</label> <input type="radio" name="filter_option" id="id_filter_opt_exact"></td>
		<td><label for="id_filter_opt_arithmatic">Arithmatic Filter:</label> <input type="radio" name="filter_option" id="id_filter_opt_arithmatic"></td>
	</tr>
	</table>
</p>
	
<!-- width and height input boxes -->
	<p>
 Width:  <input name="width" id="sgvzlr_strWidth" type="text" size="3"/>
	  Height: <input name="height" id="sgvzlr_strHeight" type="text" size="3"/>
	  	  
<!-- reset and go buttons -->
	  <input type="button" value="Reset" onclick="window.location.href= 'query.htm'"/> 
	  <input type="button" value="GO!" onclick="generate_graph()"/>
	</p>
	
	
	<label for="id_radiobutton_option"></label> <input id="id_radiobutton_option" type="text" name="radiobutton_option" maxlength="100" size="10" style="display:none;"/>
	<p class="padding">
<!--chart-->
	<div class="chart" id="sgvzlr_gchart" style="width:800px; height:400px;"></div>
      </form>
    </p>
     	 
<!-- save query button -->
	  <input type="button" value="Save Query" onclick="save_query()"/> 
	  <input type="button" value="Save Graph" onclick="save_graph()"/>
	  
<!-- sparql query button-->
	  <input type="button" value="Use A Custom Text Query" onclick="unhideTextbox()"/>
      	 
  <!--SAVE AS PDF.... DOSENT WORK WITHOUT HTTP-REFERER header>    	 <a href="http://pdf-ace.com/pdfme" target="_blank"><img src="http://pdf-ace.com/images/buttons/save-as-pdf-3.gif" width="120" height="27" alt="Save as PDF" /></a>
   -->   	 
	     <div id="footer">
      <!-- Please leave a link to the Sgvizler homepage --> 
      <p>
	Graphs generated by Sgvizler which visualizes the result of SPARQL SELECT queries using
	javascript <br>and the Google Visualization API. For more
	information, see
	the <a href="http://code.google.com/p/sgvizler/">Sgvizler</a>
	homepage. <br>(c) 2011 Martin G. Skj&#230;veland.
      </p>
    </div>


		    		</div>
		    	</div>
	    	    <div class="bottom">&nbsp;</div>
	<div class="footer">
		 Ver: 0.1:&nbsp;
		 
		 	Logged in as an anonymous user
		 		
	</div>
</div>
		    </div>
		    <div class="Right">
				<div class="col">
			  	</div>
			</div>
		</div>
	</div>
</body>
</html>