{% extends "layout/base_with_sidebar.html" %}

{% load bootstrap_pagination %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Sites
{% endblock %}

{% block subtitle %}
    Sites
{% endblock %}

{% block content %}

<table class="table">
  <tr>
    <th rowspan=2> Site </th>
    <th rowspan=2> Male </th>
    <th rowspan=2> Female </th>
    <th rowspan=2 title="Total Participants"> Total </th>
    <th colspan=4>Sessions</th>
  </tr>
  <tr>
    <th>  1 </th>
    <th>  2 </th>
    <th>  3a </th>
    <th>  3b </th>
  </tr>
  {% for site in sites %}
    <tr>
      <td>
        <a href="{{ site.get_absolute_url }}">{{ site.name }}, {{site.location}}</a>
      </td>

      <td>{{ site.stats.male }}</td>
      <td>{{ site.stats.female }}</td>
      <td>{{ site.participant_count }}</td>
      <td>{{ site.session_stats.1 }}</td>
      <td>{{ site.session_stats.2 }}</td>
      <td>{{ site.session_stats.3 }}</td>
      <td>{{ site.session_stats.4 }}</td>
    </tr>
  {% endfor %}
</table>


{% endblock %}
