{% extends "layout/base_with_sidebar.html" %}

{% load bootstrap_pagination %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Sites
{% endblock %}

{% block subtitle %}
    Sites
{% endblock %}

{% block content %}

<table class="table table-bordered">
  <tr>
    <th> Site </th>
    <th> Male </th>
    <th> Female </th>
    <th title="Total Participants"> Total </th>
    <th> Ses. 1 </th>
    <th> Ses. 2 </th>
    <th> Ses. 3a </th>
    <th> Ses. 3b </th>
  </tr>
  {% for site in sites %}
    <tr>
      <td>
        <a href="{{ site.get_absolute_url }}">{{ site.name }}, {{site.location}}</a>
      </td>
      
      <td>{{ site.stats.male }}</td>
      <td>{{ site.stats.female }}</td>
      <td>{{ site.participant_count }}</td>
      <td>{{ site.session_stats.1 }}</td>
      <td>{{ site.session_stats.2 }}</td>
      <td>{{ site.session_stats.3 }}</td>
      <td>{{ site.session_stats.4 }}</td>
    </tr>
  {% endfor %}
</table>

{% bootstrap_paginate sites %}

{% endblock %}