{% extends "browse/index.html" %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Sites
{% endblock %}

{% block subtitle %}
    All Sites
{% endblock %}


{% block content %}
<table class="table table-striped">
  <tbody>
  {% for site in sites %}
    <tr>
      <th><a href="{{ site.get_absolute_url }}">{{ site.name }}</a></th>
      <td class="what"><span class="post">Participant Statistics</span></td>
      <td class="item">Male: {{site.stats.male}}, Female: {{site.stats.female}}</td>
      <td class="action">Participant Total: {{ site.participant_count }}</td>
      <td class="name"></td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}