{% load demographic %}

<div class="row">
  <div class="col-md-8">
    
    <div class="col-md-2">
      <table class="table table-striped table-bordered">
        <tr class="success">
          <th>Gender</th>
        </tr>
        <tr>
           <td> {{ participant.properties.gender.0 }}</td> 
        </tr>
      </table>
    </div>


    <div class="col-md-2">
    <table class="table table-striped table-bordered">
      <tr class="success">
        <th>Age</th>
        
      </tr>
      <tr>
         <td> {{ participant.properties.age.0 }}</td> 
      </tr>
    </table>
  </div>

  <div class="col-md-3">

    <table class="table table-striped table-bordered">
      <tr class="success">
        <th>Birth Location</th>
        
      </tr>
      <tr>
         <td> <a href="{{ participant.properties.birthPlace.0 }}" target="_blank">{{ participant.properties.pob_town.0 }}, {{participant.properties.pob_state.0}} {{participant.properties.pob_country.0}}</a></td> 
      </tr>
    </table>

  </div>
<div class="col-md-2">
    <table class="table table-striped table-bordered">
      <tr class="success">
        <th>Suburb</th>
        
      </tr>
      <tr>
         <td> {{ participant.properties.suburb.0 }}</td> 
      </tr>
    </table>
  </div>

  <div class="col-md-3">
    <table class="table table-striped table-bordered">
      <tr class="success">
        <th>Cultural Heritage</th>
        
      </tr>
      <tr>
         <td> {{ participant.properties.cultural_heritage.0 }}</td> 
      </tr>
    </table>
  </div>

  <div class="clearfix"></div>


   
    <table class="table table-striped table-bordered">
      <tr class="success">
        <th>Socio Economic Status</th>
         <th>Highest Qualification</th>
         <th>Professional Qualification</th>
         <th>Professional Category</th>
        
      </tr>
      <tr>
         <td> {{ participant.properties.ses.0 }}</td> 
         <td> {{ participant.properties.education_level.0 }}</td> 
          <td> {{ participant.properties.professional_qualification.0 }}</td> 
          <td> {{ participant.properties.professional_category.0 }}</td> 
      </tr>
    </table>
  

  <div class="clearfix">
    <table class="table table-striped table-bordered">
      <tr class="success">
        <th>First Language</th>
         <th>Other Languages Spoken / Understood</th>
         <th>Language Usage</th>
      </tr>
      <tr>
         <td> {{ first_language }}</td> 
         <td> {{ participant.properties.other_languages.0 }}</td> 
          <td>  
            <ul>
              {% for lang, value in language_usage.items %} 
                 <li>
                  {{ value.name}}: {{ value.situation }}, {{ value.frequency }}%
                 </li>
              {% endfor %}
            </ul>
          </td> 
         
      </tr>
    </table>
  </div>
  
  </div> <!-- end col-md-8 -->

  <div class="col-md-4">
    <table class="table table-striped table-bordered">
      <tr class="success"> 
        <th>Residential History</th>
      </tr>
      <tr>
         <td>  
          <ul>
            {% for place in residential_history %} 
               <li>{{place.town}}, {{place.state}}, {{place.country}}</li>
            {% endfor %}
          </ul>
        </td> 
      </tr>
    </table>
  </div> <!-- end residential history div -->

</div> <!-- end row -->

<table class='table'>	
	
    <tr><th>Is a Student</th><td>{{participant.properties.is_student.0}}</td></tr>
    {% ifequal participant.properties.is_student.0 "true" %}  
    <tr><th>Course</th><td>{{participant.properties.student_course.0}}</td></tr>  
    <tr><th>Enrollment</th><td>{{participant.properties.student_enrollment.0}}</td></tr>
    <tr><th>Aspiration</th><td>{{participant.properties.student_aspiration.0}}</td></tr>
    {% endifequal %}
	
  {% ifequal participant.properties.has_hobbies.0 "true" %}
  <tr><th>Hobbies</th><td>{{participant.properties.hobbies_details.0}}</td></tr>
  {% endifequal %}
  
  <tr><th>Has Vocal Training</th><td>{{participant.properties.has_vocal_training.0}}</td></tr>
  <tr><th>Has Speech Problems</th><td>{{participant.properties.has_speech_problems.0}}</td></tr>
  <tr><th>Has Dentures</th><td>{{participant.properties.has_dentures.0}}</td></tr>
  <tr><th>Has Reading Problems</th><td>{{participant.properties.has_reading_problems.0}}</td></tr>
  <tr><th>Had Health Problems on the day</th><td>{{participant.properties.has_health_problems.0}}</td></tr>
  <tr><th>Has Hearing Problems</th><td>{{participant.properties.has_hearing_problems.0}}</td></tr>
  {% ifequal participant.properties.has_hearing_problems.0 "true" %}
  <tr><th>Hearing Problem Details</th><td>{{participant.properties.hearing_problems_details.0}}</td></tr>
  {% endifequal %}
  
  <tr><th>Is a Smoker</th><td>{{participant.properties.is_smoker.0}}</td></tr>
  <tr><th>Left Handed?</th><td>{{participant.properties.is_left_handed.0}}</td></tr>
  <tr><th>Has Facial Piercings</th><td>{{participant.properties.has_piercings.0}}</td></tr>
  
  <tr><th>Mother's Details</th><td></td></tr>
  <tr><th>&nbsp;&nbsp;&nbsp;Cultural Heritage</th><td>{{participant.properties.mother_cultural_heritage.0}}</td></tr> 
  <tr><th>&nbsp;&nbsp;&nbsp;Professional Category</th><td>{{participant.properties.mother_professional_category.0}}</td></tr> 
  <tr><th>&nbsp;&nbsp;&nbsp;First Language</th><td>{% language participant.properties.mother_first_language.0 %}</td></tr> 
  <tr><th>&nbsp;&nbsp;&nbsp;Education Level</th><td>{{participant.properties.mother_education_level.0}}</td></tr> 
  
  <tr><th>&nbsp;&nbsp;&nbsp;Place of Birth</th><td>
	  {{participant.properties.mother_pob_town.0}},
	  {{participant.properties.mother_pob_state.0}},
	  {{participant.properties.mother_pob_country.0}}
  </td></tr>
  
  
  <tr><th>Father's Details</th><td></td></tr>
  <tr><th>&nbsp;&nbsp;&nbsp;Cultural Heritage</th><td>{{participant.properties.father_cultural_heritage.0}}</td></tr> 
  <tr><th>&nbsp;&nbsp;&nbsp;Professional Category</th><td>{{participant.properties.father_professional_category.0}}</td></tr> 
  <tr><th>&nbsp;&nbsp;&nbsp;First Language</th><td>{% language participant.properties.father_first_language.0 %}</td></tr> 
  <tr><th>&nbsp;&nbsp;&nbsp;Education Level</th><td>{{participant.properties.father_education_level.0}}</td></tr> 
  <tr><th>&nbsp;&nbsp;&nbsp;Place of Birth</th><td>
	  {{participant.properties.father_pob_town.0}},
	  {{participant.properties.father_pob_state.0}},
	  {{participant.properties.father_pob_country.0}}
  </td></tr> 


</table>
