<tr>
  <th>Father's cultural heritage</th>
  <td>{{ participant.properties.father_cultural_heritage.0 }}</td>
</tr>
<tr>
  <th>Father's place of birth</th>
  <td>{{ participant.properties.father_pob_town.0 }}, {{ participant.properties.father_pob_state.0 }}, {{ participant.properties.father_pob_country.0 }}</td>
</tr>
<tr>
  <th>Father's first language</th>
  <td>{{ participant.properties.father_first_language.0 }}</td>
</tr>
<tr>
  <th>Father's accent</th>
  <td>{{ participant.properties.father_accent.0 }}</td>
</tr>
<tr>
  <th>Father's occupation</th>
  <td>{{ participant.properties.father_occupation.0 }}</td>
</tr>
<tr>
  <th>Father's highest education level</th>
  <td>{{ participant.properties.father_education_level.0 }}</td>
</tr>
