{% extends "browse/index.html" %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Participants
{% endblock %}

{% block subtitle %}
    {{ site.name }} Participants
{% endblock %}

{% block page_links %}
    <a href="/browse/" class="admin">sites</a>    
{% endblock %}

{% block content %} 
    <table class="overview">
        {% for part in participants %}
            <tr class="date">
                <td colspan="4">
                    <h2 class="date">
                        <span>
                            <a href="{{part.get_absolute_url}}">
                                {{ part.austalk_name.first }}
                            </a>
                        </span>
                    </h2>
                </td>
            </tr>
            <tr class="event">
                <td class="what"><span class="post">Details</span></td>
                <td class="item">Gender: {{ part.foaf_gender.first }}; Birth Year: {{ part.dbpedia_birthYear.first }}
                
                </td>
                <td class="action">Url: {{ part.subject }}</td>
                <td class="name"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
