{% extends "layout/base_with_sidebar.html" %}

{% load bootstrap_pagination %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Participants
{% endblock %}

{% block breadcrumbs %}
    {% autoescape off %}
      {{ breadcrumbs }}
    {% endautoescape %}
{% endblock %}

{% block subtitle %}
    {{ site.name }} Participants
{% endblock %}

{% block content %}


<table class=table>
    <thead>
        <tr>
            <th>Speaker</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
    </thead>

    <tbody>
{% for part in participants %}
    <tr>
      <td><a href="/browse/{{ part.site }}/{{ part.friendly_id }}">{{ part }}</a></td>
      <td>{{ part.properties.gender.0 }}</td>
      <td>{{ part.properties.age.0 }}</td>
  </tr>
{% endfor %}

</tbody>
</table>

{% endblock %}
