<h2> Mother's Data </h2>
<div class="row">
   <div class="col-md-2">
      <table class="table table-striped table-bordered">
        <tr class="success">
          <th>Cultural Heritage</th>
        </tr>
        <tr>
           <td> {{ participant.properties.mother_cultural_heritage.0 }}</td> 
        </tr>
      </table>
    </div>

    <div class="col-md-2">
      <table class="table table-striped table-bordered">
        <tr class="success">
          <th>Birth Place</th>
        </tr>
        <tr>
           <td> {{ participant.properties.mother_pob_town.0 }}, {{ participant.properties.mother_pob_state.0 }}, {{ participant.properties.mother_pob_country.0 }} </td> 
        </tr>
      </table>
    </div>

    <div class="col-md-2">
      <table class="table table-striped table-bordered">
        <tr class="success">
          <th>First Language</th>
        </tr>
        <tr>
           <td> {{ mother_first_language }}</td> 
        </tr>
      </table>
    </div>

    <div class="col-md-2">
      <table class="table table-striped table-bordered">
        <tr class="success">
          <th>Accent</th>
        </tr>
        <tr>
           <td> {{ participant.properties.mother_accent.0 }}</td> 
        </tr>
      </table>
    </div>

    <div class="col-md-2">
      <table class="table table-striped table-bordered">
        <tr class="success">
          <th>Occupation</th>
        </tr>
        <tr>
           <td>{{ participant.properties.mother_occupation.0 }}</td> 
        </tr>
      </table>
    </div>

    <div class="col-md-2">
      <table class="table table-striped table-bordered">
        <tr class="success">
          <th>Highest Education Level</th>
        </tr>
        <tr>
           <td> {{ participant.properties.mother_education_level.0 }}</td> 
        </tr>
      </table>
    </div>

</div>

<!--
<tr>
  <th>Mother's cultural heritage</th>
  <td>{{ participant.properties.mother_cultural_heritage.0 }}</td>
</tr>
<tr>
  <th>Mother's place of birth</th>
  <td>{{ participant.properties.mother_pob_town.0 }}, {{ participant.properties.mother_pob_state.0 }}, {{ participant.properties.mother_pob_country.0 }}</td>
</tr>
<tr>
  <th>Mother's first language</th>
  <td>{{ participant.properties.mother_first_language.0 }}</td>
</tr>
<tr>
  <th>Mother's accent</th>
  <td>{{ participant.properties.mother_accent.0 }}</td>
</tr>
<tr>
  <th>Mother's occupation</th>
  <td>{{ participant.properties.mother_occupation.0 }}</td>
</tr>
<tr>
  <th>Mother's highest education level</th>
  <td>{{ participant.properties.mother_education_level.0 }}</td>
</tr>

-->
