{% extends "layout/base.html" %}

{% block title %}
    Austalk | Browse > Participants
{% endblock %}

{% block breadcrumbs %}

  {% autoescape off %}
    {{ breadcrumbs }}
  {% endautoescape %}

{% endblock %}

{% block subtitle %}
    Speaker {{ participant }}
{% endblock %}

{% block content %}
      {% include "participantportal/recordings.html" %}         
    
  <section>
    <h2>Demographic Data</h2>
    
      {% include "browse/participants/common_demographic.html" %}

      {% include "browse/participants/fathers_info.html" %}

      {% include "browse/participants/mothers_info.html" %}
    
  </section>

<!--
<ul>
{% for prop in participant.properties.keys %}
 <li>{{prop}}</li>

{% endfor %}
</ul>
-->
{% endblock %}