{% extends "layout/base.html" %}

{% block title %}
    Austalk | Browse > Participants
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
    
    <li><a href="/browse/">All Sites</a></li>
    
    <li><a href="/browse/{{ site_id }}/">{{ site.name }}</a></li>
    <li><a href="/browse/{{ participant.properties.id.0 }}/"> Speaker {{ participant.properties.id.0 }}</a></li>
  </ul>
{% endblock %}

{% block subtitle %}
    Speaker {{ participant }}
{% endblock %}

{% block content %}
  <section class="pagination">
    <p>Recorded at <a href="/browse/{{ site_id }}/">{{ site }}</a></p>  
    <ul>
       {% for session in sessions %}
          <li><a href="{{ session.get_absolute_url }}">{{ session.name }}</a></li>
       {% endfor %}
    </ul>
  </section>
    
  <section>
    <h2>Demographic Data</h2>
    <table class="table table-striped">
      {% include "browse/participants/common_demographic.html" %}

      {% include "browse/participants/fathers_info.html" %}

      {% include "browse/participants/mothers_info.html" %}
    </table>
  </section>

<!--
<ul>
{% for prop in participant.properties.keys %}
 <li>{{prop}}</li>

{% endfor %}
</ul>
-->
{% endblock %}