.statsection h2 {
  margin-bottom: 10px;
}

.statsection h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin: 0 10px 5px 0;
}

.statsection p {
  margin-left: 10px;
  display: inline-block;
}

.statsection em {
  font-weight: 400;
  text-decoration: normal;
  margin-right: 5px;
}

section ul, .list-controls ul {
  margin-left: 0px;
  list-style: none;
}

.forms {
  padding: 10px 10px 30px 30px;
  border: 1px solid #C6C5C8;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

#download-form {
  margin: 30px 0 30px 0;
  padding: 10px 30px 30px 30px;
  border: 1px solid #C6C5C8;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

#download-form input[type="submit"] {
  margin-top: 10px;
  display: block;
}

#id_prof_cat {
  width: 500px;
}