{% extends "layout/2columnlayout.html" %}

<!-- Note the convention of the title, Austalk | View > Object -->
{% block title %}
    Austalk | Browse > Items
{% endblock %}

{% block subtitle %}
    Site {{site_id}}|Speaker {{participant_id}}|Session {{ session_id }}|Component {{ component_id }}|Item list
{% endblock %}

{% block page_links %}
    <a href="/browse/">sites</a> | 
    <a href="/browse/{{ site_id }}/">participants</a> |
    <a href="/browse/{{ site_id }}/{{ participant_id }}">{{ participant_id }}</a>
{% endblock %}

{% block menubar %}
    <li><a href="/" title="Your dashboard">Dashboard</a></li>
    <li><a href="/browse/sites" class="current" title="Browse">Browse</a></li> 
    <li><a href="/search" title="Search">Search</a></li>  
{% endblock %}

{% block content %}
 <table class="overview">
        {% for item in items %}
           <tr>
            <table class="description">
              <tr><th colspan=2>Item</th></tr>
              <tr><th>Basename</th><td><a href="{{item.get_absolute_url}}">{{ item.basename }}</a></td></tr>
              <tr><th>Prompt</th><td>{{ item.prompt }}</td></tr>
              <tr><th>ID</th><td>{{ item.identifier }}</td></tr>
              <tr><th>Audio</th><td><a href="{{item.ch6media}}">Play {{item.basename}}</a></td>
            </table>
            </tr>
            
            
        {% endfor %}
    </table>
{% endblock %}

